*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  
}

@media (max-width: 595px) {
.slick-arrow, .slick-next, .slick-prev svg {
  display: none;
}
}

/* @media (max-width: 595px) {
body {
  overflow-x: hidden;
}
} */